<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  {{ $js := resources.Get "js/rand.js" | fingerprint | minify }}
  <script src="{{ $js.RelPermalink }}"></script>
  <title>{{ block "title" . }}{{ end }}</title>
</head>
<body class="text-[16px] font-mono">
  {{ block "main" . }}{{ end }}
</body>
</html>
