{{ define "title" }}
  {{- site.Title -}}
{{ end }}

{{ define "main" }}
  <div class="flex min-h-screen items-center justify-center" x-data="rando">
    <div class="flex flex-col p-2 bg-red-50 text-red-900 max-w-lg w-full h-96 rounded shadow">
      <span>
        Passwords:
        <ul>
          <template x-for="password, i of passwords">
            <li>
              <span x-text="password" @click="copy(password)" class="select-all"></span>
              <button type="button" @click="passwords.splice(i, 1)">X</button>
            </li>
          </template>
        </ul>
      </span>

      <button
        @click="genPass()"
        type="button"
        class="mt-auto rounded px-3 py-2 bg-pink-600 text-pink-200 hover:bg-pink-700 transition"
      >
        Generate Password
      </button>
    </div>
  </div>
{{ end }}
